input{

    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
}
div{
    font-size: 25px;
    font-weight: bold;
    width:250px;
    height: 70px;
    background-color: rgb(48, 131, 103);
    border-radius: 10px;
    text-align: center;
    top :200px;
    position: relative;
    left:400px;
    
 }   