input{

    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
}
.result{

    font-size: 25px;
    font-weight: bold;
    width:250px;
    height: 70px;
    background-color: rgb(42, 230, 164);
    border:solid black 2px;
    border-radius: 10px;
    text-align: center;
    /* top :200px;
    left:400px; */
    position: relative;

    margin: 10px;
    
 }   
 button{
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
 }
 /* div{
    display: flex;
    flex-direction: column;
    align-items: center;
 } */
 
  div {
    margin: 5px;
  border:solid black 2px;
    width:fit-content;
    /* height: auto; */
    border-radius: 5px;
    background-color: rgb(117, 170, 216);
    
 }
  #result{
    background-color: rgb(156, 84, 141);
    position:absolute;
    top:400px;
    left:600px;
    width:100px;
    height:50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 7px;
    }